.defaultStyle{
  padding: 0.4rem 2rem;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border: solid var(--secondary) 1px;
  color: var(--ternary);
  cursor: pointer;
}

.classicButton {
  margin-inline: auto;
  text-align: center;
}

.textIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.buttonEaseIn {
  position: relative;
  overflow: hidden;
  border: solid var(--secondary) 1px;
  background-color: var(--primary);
  z-index: 1;
}


@media(hover){

  .buttonEaseIn{
    border: solid var(--secondary) 1px;
    transition:  300ms ease-out;
  }
  .buttonEaseIn::before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    transform-origin: right;
    z-index: -1;
    transform: scaleX(0);
    background-color: var(--secondary);
    transition:  transform 300ms ease-in;
  }
  .buttonEaseIn:hover::before {
    color: var(--ternary);
    transform: scaleX(1);
  }
  
}