.iconStyle{
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  width: 3rem;
  height: 2rem;
  padding: 0.4rem;
  border-radius: 1.5rem;
}
.iconStyle:hover{
  background-color: var(--secondary);
}