.navStyle{
    width: 100%;
    padding-block: 1rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: var(--ternary);
    position: fixed;
    background-color: var(--primary);
    top: 0;
    z-index: 4;
  }

.navStyle li{
    cursor: pointer;
}