.down{
    position: relative;
    color: #222222;
    font-size: clamp(1rem,8vw,7rem);
    letter-spacing: 0.6rem;
    font-weight: 900;
    text-align: center;
     max-width: max-content;
     margin-inline: auto;
     text-transform: uppercase;
  }
  .up{
    position: absolute;
    color: var(--ternary);
    font-size: clamp(0.6rem,4vw,3rem);
    letter-spacing: 0rem;
    top: 34%;
    left: 26%;
    text-transform: uppercase;
  }
  .spanUpperDeisgin{
    color: var(--secondary);
  }
 @media (max-width:1200px){
  .up{
    top: 30%;
  }
 }
 @media (max-width:400px){
  .up{
    top: 26%;
  }
 }

