.down{
    position: relative;
    color: #222222;
    font-size: 6.4rem;
    letter-spacing: 0.7rem;
    font-weight: 900;
    text-align: center;
    width:40rem;
     margin-inline: auto;
     text-transform: uppercase;
  }
  .up{
    position: absolute;
    color: var(--ternary);
    font-size: 2.6rem;
    top: 36%;
    left: 28%;
    letter-spacing:0;
    text-transform: uppercase;
  }
  .spanUpperDeisgin{
    color: var(--secondary);
  }
 @media (max-width:1200px){
  .up{
    top: 30%;
  }
  .down{
    font-size:5.4rem;
  }
 }

 @media (max-width:800px){
  .down{

    width:20rem;  

  font-size: 2.7rem;        
  }
  .up{
    font-size: 1.3rem;
    top: 29%;
    left:27%
  }
 }


 @media (max-width:400px){
  .down{
    letter-spacing: 0.4rem;
  
    width:20rem;  

  font-size: 2.4rem;        
  }
  .up{
    font-size: 1.3rem;
    top: 31%;
    left:30%
  }
 }

